<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-button 
    slot='end' 
    fill='outline' 
    shape='round' 
    style="--border-width: 0"
    (click)='openPopover($event)'>
      <ion-icon  name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  

  <div 
    class="ion-text-center">
    <h1 
    style="font-size: 150px; color: rgb(71, 71, 71)">
    {{currentTime}}<span style="font-size: 60px; font-weight: 600;">{{amOrPm}}</span>
    </h1> 
  </div>

  <div
    class='ion-text-center'
    style='font-size: 45px; padding-top: 50px; font-weight: 600; color: rgb(71, 71, 71)'>
    Current Time Slot
  </div>

  <ion-card
  class='ion-text-center card resp_card'
  style='color: royalblue'
   > 
    {{ currentTimeSlot ? (this.friendlyTimeSlot.start + ' to ' + this.friendlyTimeSlot.end) : '...transitioning' }} 
</ion-card>  
  
  <div *ngIf='warning'>

    <h1 
    class='ion-text-center'
    style='font-size: 45px; padding-top: 20px; font-weight: 600; color: rgb(109, 4, 4)'>
    Time Left:</h1>

    <ion-card 
    class='ion-text-center card resp_card'
    style='background-color:{{color}}; height: 200px;' >
        <ion-card-title 
        class="{{ countdownBlink? 'x-blink' : '' }}"
        style="font-size: 150px; color: white">
          <countdown [config]="{leftTime: countdown}"></countdown>
        </ion-card-title>
    </ion-card>

  </div>
 
</ion-content>
