.x-blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  25% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}


@media (max-width: 950px) {
  .resp_card {
    width: 100% !important;
  }
}
@media (min-width: 951px) {
  .resp_card {
    width: 50% !important;
  }
}

.content {
  // display: flex;
  padding: 16px 16px;
  // max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 14px;
  border: 3px solid #eee;
  font-size: 60px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  position: relative;
  transform: translate(-50%);
  left: 50%;
}